[2016-02-12 15:09] tilsche opened #2 "swig: incomplete dependency / documentation"
When `swig` is not available, configure won't  complain despite failing to find it. `make` however will run into a strange errors:

[code]

The build completes successfully once after making swig available / configure / make. Also swig is not mentioned in the `INSTALL` documentation.

[2016-04-30 16:46] dongahn opened #4 "Scheduler integration to find the RM node"
This came from talking to a scientist at ORNL. She requested that STAT has a mechanism by which a user can find the node where STAT can attach to the controlling process. We need some discussion as to how best we can support this across various RM/Schedulers.

[2016-05-25 23:05] jeffhammond opened #5 "Cray XT configure flag apply to XE/XK/XC?"
Is flag truly specific to Cray XT or is it the flag for Cray X[TEKC] supercomputers in general?
[code]
From the source, it would appear to be the flag to use with the Cray ALPS scheduler, which was used on Cray X[TEKC] systems, but has been phased out in favor of SLURM, at least on NERSC Cray XC systems.

If it is a flag for Cray ALPS, it would be helpful to users to rename it to `--with-cray-alps

[2016-05-27 21:09] lee218llnl commented on #5
@jeffhammond Good point, I will updated this in the next release. Thanks.

[2016-06-05 23:09] ylniu opened #6 "Segmentation fault (core dumped) when STATGUI starts"
Dear authors,

Thanks very much for providing such good debugging software. I try to install STAT on **CentOS 64 bit operation system(gcc-4.8.5, gfortran-4.8.5, mpich2-1.5, python-2.7.5)**. The dependences are a bit complex. Some libraries are installed in lib directory and some else in lib64. The manual does not mention to install other libraries. For example:

yum install elfutils-libelf-devel
y

[2016-06-06 18:21] lee218llnl commented on #6
@ylniu Can you get a backtrace of the seg fault with GDB? There are two ways to do this, first is to get a full core file generated on the seg fault and then run `gdb <path_to_python> <your_core_file_name>. The second is to modify the stat-gui shell script to `exec gdb python ...` In either case, once you have gdb up, you can enter "bt" to get the stack trace. If you can copy and past the backtrac

[2016-06-08 21:13] lee218llnl commented on #2
I've been long overdue for a push. The https://github.com/LLNL/STAT/commit/9b90ed42403f3969c0befca383a4ea69cda2c0d2 commit will cause configure to throw an error if swig is not found. I also added a brief mention that swig is required to build the GUI.

[2016-06-08 21:16] lee218llnl commented on #5
I renamed this to --with-cray-alps in https://github.com/LLNL/STAT/commit/8b059441ad261206dd80cb8d26347cef54e74ce9.

[2016-06-08 22:47] dongahn commented on #5
@lee218llnl: I think it would be ideal if can make this flag go away since LaunchMON should be able to detect the underlying RM at runtime on a given platform. What are the STAT features enabled when this config flag is given?

[2016-06-30 17:22] lee218llnl commented on #5
@dongahn This commit (https://github.com/LLNL/STAT/commit/52d57e0f6fa2473dedb3c63bcbcdeba967701880) replaces the static RM setting with runtime detection. I have tested this on LLNL Linux clusters and BG/Q systems and there is no regression there. After MUCH toil, I was able to get this commit of STAT and all its deps built on LANL's trinitite Cray system (using alps) and got it to run OK there to

[2016-06-30 17:22] #5 closed

[2016-06-30 17:24] dongahn commented on #5
Nice work! Thanks.

[2017-01-20 05:14] buaaluwentao opened #7 ""Configuring incomplete,errors occurred" occured when I installed StackWalker"
I was trying to install STAT on my ubuntu-x86_64, but when I ran ./script-stat-install I encountered many errors,so I write a script named test whose content as follows to install Dyninst sololy:
#__________________________________________________________________________
#!/bin/bash
set -ex
#echo "Step 3 of 6: Downloading StackWalker"
#wget -q http://www.dyninst.org/sites/default/files/downloads/d

[2017-01-20 17:24] lee218llnl commented on #7
@buaaluwentao, which component is failing to build, is it Stackwalker/Dyninst? If so, you may need to report any build issues to the Dyninst project https://github.com/dyninst/dyninst.

Also, you may have better luck installing STAT and all its dependences using Spack https://github.com/LLNL/spack/. I should get rid of that script-stat-install script. From STAT's "INSTALL" file:

59    STAT and it

[2017-02-08 09:23] buaaluwentao opened #8 "checking for libstackwalk... configure: error: libstackwalk is required. Specify libstackwalk prefix with --with-stackwalker"
when installing STAT, I got the error as the title ,my installation as follows(my machine is x86_64-ubuntu14.04-trusty , all the work was done on only one machine ^__^):
step 1) install libdwarf, Launchmon-1.0.2, MRnet-4.1, GrapgLib-2.0, and I can confirm all of the 4 was installed rightly.
step 2) install dyninst-9.3.0 with cmake-gui, the configuration and generation process as follows:
luwentao@

[2017-02-08 16:16] lee218llnl commented on #8
Can you attach your config.log?

Also, if you saw my response in #7 I still suggest installing via Spack.

[2017-02-09 02:37] buaaluwentao commented on #8
thank you, lee218llnl,this is the content of my config.log:
++++++++++++++++++++++++++++++++++++++++++++++++++
This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by STAT configure 2.2.0, which was
generated by GNU Autoconf 2.63.  Invocation command line was

  $ ./configure --with-launchmon=/home/luwentao/so

[2017-02-09 16:03] lee218llnl commented on #8
Here is where it is failing:

configure:16450: g++ -o conftest -g -O2 -I/home/luwentao/software/STAT/dyninstAPI_RT/include -I/home/luwentao/software/STAT/include -L/home/luwentao/software/STAT/dyninstAPI_RT/lib -L/home/luwentao/software/STAT/lib -lstackwalk -lsymtabAPI -lpcontrol -lparseAPI -linstruction -lcommon -ldwarf -lelf -liberty -lpthread conftest.cpp >&5
 /usr/bin/ld: cannot find -linstruc

[2017-02-11 14:58] buaaluwentao commented on #8
@lee218llnl
thanks your advice for installing STAT via SPACK, on my ubuntu-14.04-x86-64-trusty,I run "sudo ./spack install stat ^cairo+X ^gtkplus+X ^pango+X 2>error.txt", but errors information as follows occurred.
***************************************************************************************************************************

==> Error: ProcessError: Command exited with status 1:
    '

[2017-02-13 16:36] lee218llnl commented on #8
@buaaluwentao you are getting "configure: error: libstackwalk is required. Specify libstackwalk prefix with --with-stackwalker" again. Can you check the "./var/spack/stage/stat-3.0.0-yrxmfxdwxekebvg4qu7ayefen2drq6o7/STAT-3.0.0/config.log" file? You may still be missing the libiberty library.

[2017-08-08 16:09] MichaelLettrich opened #9 "Linking Problem - Boost"
I am trying to compile and install STAT for the first time. Unfortunately I am having troubles with the compilation process.

I have installed all dependencies on CentOS 7  (mostly from boost::system::generic_category()source, boost and libdwarf from the package manager).
I configured with
[code]
which runs without problems. However during linking I get undefined references to `boost::system::gene

[2017-08-08 17:58] lee218llnl commented on #9
Did you build MRNet with the --enable-shared configure flag? STAT should be linking to the .so of MRNet, which in theory should point to the appropriate boost libraries. Note that MRNet also has a --with-boost= flag if MRNet is not using the appropriate one.

I will point out that an alternative to build STAT and all its dependences is using Spack. Please refer to https://github.com/LLNL/STAT/blob

[2017-08-09 09:15] MichaelLettrich commented on #9
Thank you for your fast response and pointing me at the source of my problem. STAT now works like a charm.

[2017-08-09 09:15] #9 closed

[2017-09-27 11:15] akkbook opened #10 "Network.C:(.text.startup+0x2b): undefined reference to `boost::system::generic_category()'"
Dear Gregory Lee,
       I am a HPCer .when installing STAT, I got the error as the title .

Platform.
---------
VMware® Workstation 12 Pro
[root@localhost STAT-3.0.1]# hostname
localhost.localdomain
[root@localhost STAT-3.0.1]# uname -m
x86_64
[root@localhost STAT-3.0.1]# uname -r
3.10.0-514.el7.x86_64
[root@localhost STAT-3.0.1]# uname -s
Linux
[root@localhost STAT-3.0.1]# uname -v
#1 SMP Tue No

[2017-09-27 20:51] lee218llnl commented on #10
My beset guess is that there is a version conflict in boost. The older MRNet you are using may include it's own boost which may not work well with the boost on your system. If you can get an MRNet 5.X version installed, that may work better. Alternatively, I encourage most people to build STAT and its dependencies using Spack (https://github.com/LLNL/spack). From https://github.com/LLNL/STAT/blob/

[2017-09-28 23:49] akkbook commented on #10
Thanks a lot.and I try again.

[2017-09-28 23:51] akkbook commented on #10
Thank you.and I try again.

[2017-10-10 10:54] akkbook commented on #10
Thanks.

[2017-10-10 11:12] akkbook commented on #10
Dear authors,

Thanks very much for your advice . I try to install STAT2.2 & STAT 3.0.1 on Redhat 7 64 bit operation system(gcc-4.8.5, gfortran-4.8.5, mpich3.3, python-2.7.5 openmpi3.0   mrnet4.x->mrnet5.x).

So my questions are:
  1. STAT 2.2  STAT_GraphRoutines_Error
  2. STAT 3.0.1   hw.F:17: Error: Can't open included file 'mpif.h'

I do not konw where is wrong.Would you give me some more advi

[2017-10-12 22:27] lee218llnl commented on #10
For issue 1, you may want to try adding "-fpermissive" to your CXXFLAGS. I believe I set this as default in the 3.X versions.

For issue 2, you can configure with "--disable-examples" and it won't try building the Fortran test code. Otherwise, you can try to hunt down where in your MPI installation the mpif.h file lives.

[2017-11-16 01:24] akkbook commented on #10
Thanks.

[2017-12-15 08:46] akkbook commented on #10
Thank you very much for your advice.

I refer to your recommendation to re-build mrnet 4.1 using spack as mrnet5.0.1 and mrnet5.0.0. When installing mrnet5.0.1 & mrnet5.0.0, I found that the prefix option didn't work and the program was automatically built in/mrnet5.0.1 /build /. When I perform the STAT., often appear mrnet/configure configuration STAT mrnet mrnet. H file can't find, so I myself t

[2017-12-19 19:36] lee218llnl commented on #10
What MPI implementation are you using, OpenMPI, Mvapich, Mpich, or something else? Also what resource manager are you using. FYI, SLURM is not an Operating System, but rather a resource manager.

One thing you may want to consider trying is to install STAT using spack. https://github.com/spack/spack. You can also install OpenMPI via spack and that has been tested and known to work.

You should als

[2017-12-20 05:02] akkbook commented on #10
Software & Version
mpich-3.2.1
openmpi-3.0.0
slurm-17.11.0
munge-0.5.12
spack-0.10.0

launchmon-1.0.2-> 1.0.1
/usr/bin/ld: basic.o: undefined reference to symbol 'gpg_strerror'
/root/launchmon-1.0.1/tools/libgpg-error/src/.libs/libgpg-error.so.0: error adding symbols: DSO missing from command line

mpich-3.2.1 environment variables:
MPI_HOME=/root/mpich321/install
export  PATH=${MPI_HOME}/bin:$PAT

[2017-12-20 05:12] lee218llnl commented on #10
Q1: I don't think the mpich mpirun is supported, as it may not implement the MPIR debug interface that LaunchMON requires. Can you launch it with SLURM's srun? Alternatively, can you build your MPI application with OpenMPI and run with OpenMPI's oreterun?

Q2: Use LaunchMON 1.0.2, not 1.0.1

Q3: Go the their websites and see if you can get a trial. I don't work for either of them, so I don't know

[2017-12-20 05:20] akkbook commented on #10
Ok, I see. Thanks for lee218llnl!I'll try again.

[2018-05-29 17:47] #2 closed

[2018-05-29 17:49] lee218llnl commented on #6
@ylniu Since this is two years old and I haven't heard back from you, I will close this issue. Feel free to reopen it if you want to revisit the issue.

[2018-05-29 17:49] #6 closed

[2018-05-29 17:51] lee218llnl commented on #7
@buaaluwentao Since this issue is quite old and I haven't heard back from you, I will close it for now. I still suggest the Spack installation method. If you still encounter issues building, please feel free to reopen this issue or create a new one.

[2018-05-29 17:51] #7 closed

[2019-02-20 16:30] lee218llnl commented on #10
This issue is very old and the questions should be resolved. Feel free to reopen if there are still problems.

[2019-02-20 16:30] #10 closed

[2019-11-09 10:36] josephjohnjj opened #11 "_STATmerge.la error"
When I am trying to install STAT I keep getting this error:

285    make[3]: *** [_STATmerge.la] Error 1
     286    make[3]: *** Waiting for unfinished jobs....
     287    mv -f .deps/STAT_FilterDefinitions_la-STAT_FilterDefinitions.Tpo .deps/STAT_FilterDefinitions_la-STAT_FilterDefinitions.Plo
     288    STAT_FrontEnd.C: In member function 'StatError_t STAT_FrontEnd::dumpProctab()':
     289

[2019-11-11 19:46] lee218llnl commented on #11
@josephjohnjj It looks like this should just be a warning. Do you have -Werror in your compiler flags too? From https://stackoverflow.com/questions/51534284/how-to-circumvent-format-truncation-warning-in-gcc, it looks like we could put return value checks on snprintf if really needed. If you can append your full spack-build.out that may help to see what flags are being used in the compilation. It

[2019-11-12 17:41] lee218llnl commented on #11
@josephjohnjj FWIW, I was just able to successfully `./bin/spack install stat%gcc@8.1.0^boost@1.69.0` on my RHEL7-based system. It would help to see your full build output and hopefully I can find the problem.

[2019-11-13 03:19] josephjohnjj commented on #11
Hi Gregory,

I tried it with the command ./bin/spack install stat%gcc@8.1.0^boost@1.69.0 ,
but the same error persists. I am attaching the build output. Hope it can
help.

On Wed, Nov 13, 2019 at 4:41 AM Gregory Lee <notifications@github.com>
wrote:

--

Joseph John

PhD Student

ANU College of Engineering & Computer Science
+610468447870

==> Executing phase: 'autoreconf'
==> Executing phase: 'co

[2019-11-13 22:17] lee218llnl commented on #11
Can you try `./bin/spack install stat@deveop%gcc@8.1.0^boost@1.69.0 `? It looks like there is a build system issue, with the relevant error being:

libtool: link: require no space between `-L' and `-Wl,-rpath='

For some reason, there is no path after one of the -L arguments. This looks familiar and may have been fixed in the develop branch.

[2019-11-13 22:33] lee218llnl commented on #11
This may be the problem: checking boost installation... no

You might be able to fix this by modifying var/spack/repos/builtin/packages/stat/package.py with the 2 boost lines you can see below:

`    depends_on('boost')

    patch('configure_mpicxx.patch', when='@2.1.0')

    def configure_args(self):
        spec = self.spec
        args = [
            "--with-launchmon=%s"   % spec['launchmon']

[2019-11-13 22:43] josephjohnjj commented on #11
I tried it then I get the error message:

==> Error: An unsatisfiable version constraint has been detected for spec:

    python@2.7.16%gcc@8.1.0+bz2+ctypes+dbm+lzma~nis~optimizations+pic+pyexpat+pythoncmd+readline+shared+sqlite3+ssl~tix~tkinter~ucs4~uuid+zlib
arch=linux-ubuntu18.04-skylake_avx512
        ^bzip2@1.0.8%gcc@8.1.0+shared arch=linux-ubuntu18.04-skylake_avx512
            ^diffutils@3.

[2019-11-13 22:47] lee218llnl commented on #11
might be a typo on my part, please change deveop to develop:

./bin/spack install stat@develop%gcc@8.1.0^boost@1.69.0

(I blame my lagging keyboard)

[2019-11-13 22:58] josephjohnjj commented on #11
I corrected it, but I am getting the same error as in the build file I sent
you earlier. I will try by making the changes you mentioned to the boost
config.. Thanks a lot for your help.

On Thu, Nov 14, 2019 at 9:47 AM Gregory Lee <notifications@github.com>
wrote:

--

Joseph John

PhD Student

ANU College of Engineering & Computer Science
+610468447870

[2019-11-14 03:09] josephjohnjj commented on #11
This worked!  Thanks.

On Thu, Nov 14, 2019 at 9:33 AM Gregory Lee <notifications@github.com>
wrote:

--

Joseph John

PhD Student

ANU College of Engineering & Computer Science
+610468447870

[2019-11-14 16:14] lee218llnl commented on #11
Thanks for the confirmation. I updated STAT's build system to error at configure time if boost is not found. I also submitted a PR (https://github.com/spack/spack/pull/13735) to Spack with the fix adding boost as a dependency.

[2019-11-14 16:14] #11 closed

[2019-12-16 23:50] rashawnLK opened #13 "module STAThelper not found with Python3 installation"
Hello,
I'm not sure if this is the right place to log this.

I have a recent build of STAT 4.0.1 (cloned from commit 596941a), configured with Python3. When I use 'stat-cl -C srun <application>' ,  I encounter the following error:

`Traceback (most recent call last):
  File "/opt/tools/install/stat-4.0.1-commit-596941/lib/python2.7/site-packages/STATmain.py", line 49, in <module>
    from STAThelp

[2019-12-23 18:06] lee218llnl commented on #13
@rashawnLK, can you please provide your config.log file? While you specify --with-python=/usr/bin/python3, it appears to be picking up python 2.7 for some reason.

[2019-12-23 18:32] rashawnLK commented on #13
@lee218llnl, I have attached the config.log file here:
[2019_1216_config.log](https://github.com/LLNL/STAT/files/3995874/2019_1216_config.log)

Thanks,

-Rashawn

[2019-12-23 18:41] lee218llnl commented on #13
Thanks, I can reproduce this issue. FWIW, a viable workaround may be to specify PYTHON=/usr/bin/python3 on your configure line. I will see if I can fix the configure scripts to actually obey the --with-python arg.

[2019-12-23 21:34] lee218llnl commented on #13
@rashawnLK can you please see if the latest commit to develop https://github.com/LLNL/STAT/commit/9dd53138befa6a92454bfbdfd174b6ae82dd43f2 fixes the Python configuration. Simply specifying --with-python= should work and you should not have to define PYTHON= anymore.

[2019-12-27 02:46] rashawnLK commented on #13
@lee218llnl, I did build this, and the I now have two python3.6/site-packages directories: one under <STAT-install>/lib and the other under <STAT-install>/lib64.   In the the lib/python3.6/site-packages there are the following files:
attach_helper.py
bg_core_backtrace.py
core_file_merger.py
__pycache__  STATmain.py
stat_merge_base.py
STATmerge.py

In the lib64/python3.6/site-packages, there are tw

[2019-12-27 18:19] lee218llnl commented on #13
@rashawnLK, for this one, I would need to see your full `make` and `make install` output. The STAThelper.py should install in the lib/python3.6/site-packages directory if everything worked OK.

[2019-12-27 18:35] rashawnLK commented on #13
@lee218llnl, Thank you for investigating this. My output make  and make-install files are attached.

Thanks,

-Rashawn

[2019_1226_stat-4.0.1_gcc-7.4.1_make-03.out.txt](https://github.com/LLNL/STAT/files/4006006/2019_1226_stat-4.0.1_gcc-7.4.1_make-03.out.txt)
[2019_1226_stat-4.0.1_gcc-7.4.1_make-install-03.out.txt](https://github.com/LLNL/STAT/files/4006007/2019_1226_stat-4.0.1_gcc-7.4.1_make-inst

[2019-12-27 18:46] lee218llnl commented on #13
@rashawnLK. I found that the problem was because you specify --enable-gui=no, but STAT's build system was only installing STAThelper.py when the GUI was enabled. This is a bug in the build system as the helper is now needed even without the GUI. I made the appropriate fix to scripts/Makefile.am. Please pull from the develop branch, run `bootstrap`, then reconfigure and build. Let me know if that w

[2019-12-27 19:49] rashawnLK commented on #13
@lee218llnl, It is now working with the pull from the develop branch. Thank you for working on this.

Best regards,

-Rashawn

[2019-12-27 22:11] lee218llnl commented on #13
No problem, thanks for catching these problems. I will close this issue.

[2019-12-27 22:11] #13 closed

[2020-01-31 05:34] BenWibking opened #14 "Spack install fails with 'unsatisfiable version constraint'"
I'm not sure if this should be reported here, or in the Spack repository, but here it is for now.

I get this error when running `./bin/spack install stat`:

[code]

[2020-01-31 15:02] lee218llnl commented on #14
Can you try running `./bin/spack install stat^boost@1.69.0`

[2020-01-31 15:18] lee218llnl commented on #14
You may actually need to run `./bin/spack install stat^boost@1.69.0^gettext~libxml2` if you get an error, "python requires gettext variant ~libxml2, but spec asked for +libxml2" from my previous command.

[2020-02-01 11:20] BenWibking commented on #14
That fixes the version constraint, but I now get a build error when compiling Dyninst. I've attached the spack-build-out.txt file.
[spack-build-out.txt](https://github.com/LLNL/STAT/files/4142469/spack-build-out.txt)

[2020-02-02 12:00] pramodk opened #15 "Possibility of new release?"
Hello @lee218llnl,

Last stable release 4.0.1 was in Oct, 2018. Any possibility of new release? Or, 4.0.1 is still good to enough to use?

[2020-02-03 16:51] lee218llnl commented on #14
It looks like that is a known bug in Dyninst 9 that has since been fixed. This appears to work for me: `./bin/spack install --keep-stage stat@develop^dyninst@10.1.0^gettext~libxml2`. Can you please try that?

[2020-02-04 18:01] lee218llnl commented on #15
The 4.0.1 release is still pretty stable, however, there probably are enough minor fixes/improvements for a 4.0.2 release. I will work on all the validation, etc. In the meantime, have you tried building the develop branch? Any testing you can do on the develop branch would be appreciated to see if there are any final changes/fixes needed for a 4.0.2 release.

[2020-02-05 23:53] BenWibking commented on #14
That has fixed that issue, but now I get a build error with STAT itself:

``
==> Installing stat
==> Searching for binary cache of stat
==> No binary for stat found: installing from source
==> Cloning git repository: https://github.com/llnl/stat.git on branch develop
==> No checksum needed when fetching with git
==> Already staged spack-stage-stat-develop-qq5gh3c6nzuedcq4iwnrtjt4txcchzb6 in /scrat

[2020-02-06 17:44] pramodk opened #16 "Understanding error with stat v3.0.1"
On our existing cluster we have v3.0.1 and I have used that for more than one year without any issues. Recently I am seeing below error:

![Screenshot 2020-02-06 at 17 09 22](https://user-images.githubusercontent.com/666852/73963391-79345a80-4910-11ea-9ee1-109bdd391557.png)

[code]

The specified directory has:

[code]

The application is simple hello-world MPI program.

Could you provide some sug

[2020-02-06 17:46] pramodk commented on #15
Thank you @lee218llnl !

Yes I am testing develop branch and I am simply getting segfault:

[code]

I will take a look at troubleshooting section in user guide and post the results here.

[2020-02-06 17:47] lee218llnl commented on #16
would you be able to attach to the .dot file?

[2020-02-06 18:16] lee218llnl commented on #15
a seg fault in the GUI may be difficult to debug and may be due to issues outside of STAT. As a test, can you try running stat-cl on your test?

[2020-02-06 19:25] dongahn commented on #15
https://github.com/pop-os/gtk-theme/issues/11#issuecomment-408266325

Is this helpful?

[2020-02-06 19:38] pramodk commented on #16
Sure!  [stat_results.zip](https://github.com/LLNL/STAT/files/4167368/stat_results.zip)

Let me know if I should try something. (By the way, I am also on Spack slack in case quick followup needed).

[2020-02-06 19:54] pramodk commented on #15
I will check gtk stuff soon. But it seems like the error is unrelated to that?

Here are results from stat-cl:

[code]

I tried setting

[code]
but didn't get any log messages.

[2020-02-06 21:02] lee218llnl commented on #16
I was able to open up stat-view stat_results/a.out.0000/00_a.out.0000.2D.dot

Given the errors about subprocess, I'm wondering if STAT is having trouble finding the graphviz `dot` executable? You may want to try doing a `strace -f` when you run stat-gui to debug further. Have there been system updates since you installed STAT? What happens if you run `which dot`?

[2020-02-06 21:07] lee218llnl commented on #15
Can you try running `stat-cl -l FE -l BE -L $HOME/statlogs`? This should dump STAT log files to $HOME/statlogs

[2020-02-06 21:13] lee218llnl commented on #15
It's not clear if the Gtk-warning is the cause of the seg fault. You could also increase your coredumpsize to unlimited and get a backtrace using a debugger. That would help identify where the seg fault is occurring.

[2020-02-06 21:16] pramodk commented on #16
Wow! you were absolutely right!  I added graphviz to $PATH and:

<img width="1190" alt="Screenshot 2020-02-06 at 22 12 56" src="https://user-images.githubusercontent.com/666852/73979198-033eec00-492e-11ea-8006-b9a85d6f736d.png">

Thank you very much for quick response! Really appreciate!

[2020-02-06 21:37] pramodk commented on #15
I tried following but donut see anything in logs:

[code]

I increase limit for coredump but I am not sure how can I get backtrace with python:

[code]

`Core was generated by` seems misleading because `/gpfs/bbp.cscs.ch/project/proj95/kumbhar/05-02-2020/soft/install/linux-rhel7-x86_64` is a directory.

[2020-02-06 21:43] pramodk commented on #15
I also tried with 4.0.1 and seeing same error.

By the way, with v4 and v5 I get:

[code]

Even if I set PYTHONPATH to `xdot` package on command line (or set by spack generated module), it doesn't get passed because `stat-gui` has :

[code]

But I believe original PYTHONPATH should be appended as well i.e.:

[code]
Isn't it?

[2020-02-06 21:45] lee218llnl commented on #15
I think you may need to `spack activate py-xdot`.

[2020-02-06 22:07] #16 closed

[2020-02-06 22:20] pramodk commented on #15
Ah ok. In our case Python comes from `upstreams` and not writable to users :). I generate module and it has necessary PYTHONPATH:

[code]

In this case I expected stat to pickup PYTHONPATH that is setup in module.

Anyway, this is not big problem. I am more struggling with segfaults with newer versions.

[2020-02-07 16:18] lee218llnl commented on #15
OK, for the seg fault issue, could you perhaps modify your stat-gui script, such that the last line does runs `gdb --args`, i.e., `exec gdb --args python ....../STATmain.py gui $@`. You can then run under gdb to get the seg fault and call bt.

[2020-02-22 14:15] pramodk opened #17 "Error: <stdin>: syntax error in line 115 scanning a quoted string (missing endquote? longer than 16384?)"
While using STAT I am seeing below error:

[code]

<img width="1135" alt="image" src="https://user-images.githubusercontent.com/666852/75093843-baba3c00-5585-11ea-8dd6-e8e867164ab5.png">

I assume this is mostly coming from dot (because of too divergent call stacks?) but do you have any suggestions to workaround this?

cc: @matz-e

[2020-02-24 15:15] lee218llnl commented on #17
could you perhaps attach the .dot file that triggered this error? It should be in the stat_results directory.

[2020-02-24 22:42] pramodk commented on #17
Sure !  Could you check attached zip where we have 00_dplace.0018.2D.dot file? [dplace.0018.zip](https://github.com/LLNL/STAT/files/4247194/dplace.0018.zip)

Let me know if additional information is required.

[2020-02-25 18:12] lee218llnl commented on #17
Hmm, I get a different error "Error: bad label format main::{lambda()#1}::operator()() const". My stat-view is the current "develop" branch. Which version are you using? I thought I had fixed issues with long, divergent task lists. If I take the '{}' brackets out of that stack frame, it displays correctly without my error or yours.

[2020-02-25 18:39] lee218llnl commented on #17
https://github.com/LLNL/STAT/commit/4317c790a03ea68bbb61d5059e5c318a0b211bf1 should allow stat-view to handle brackets in the node names now. Let me know if you are able to build/install the develop branch and test it yourself.

[2020-02-26 22:10] lee218llnl commented on #14
sorry for the delayed response, I think this is where things start to go wrong from your spack-build.out:

`src/dysect/DysectAPI/Makefile.am:16: warning: source file 'Aggregates/AggregateBE.C' is in a subdirectory,
src/dysect/DysectAPI/Makefile.am:16: but option 'subdir-objects' is disabled
automake: warning: possible forward-incompatibility.
automake: At least a source file is in a subdirectory,

[2020-02-27 17:39] lee218llnl commented on #14
Actually, I'm not sure if that warning message is relevant to the error you get:

I'm wondering if the "scripts" directory does not exist for some reason?

[2020-03-01 05:03] BenWibking commented on #14
I think I may be running into filesystem or quota issues on the machine I'm using but for some reason I can't reproduce them when running e.g. `git clone` or even just `touch` or `cp` manually. I also can't reproduce my earlier error. Now `spack` just hangs at the "staging archive" phase:

[code]

Are there any debug flags or vars I can set to see exactly what operation is hanging?

[2020-03-02 15:40] lee218llnl commented on #14
It looks like it is trying to use an already downloaded file ("cached archive") in /g/data/jh2/bw0729/spack/var/spack/cache/_source-cache/archive/3a/3ae1af359eebaa4ffc5896a1aee3568c052c99879316a1ab57f8fe1789c390b6.tar.gz. Perhaps you can try removing that and try again? If that doesn't work, you may want to check on the size/timestamps of files in the spack-stage directory that is being printed ou

[2020-03-02 16:14] lee218llnl commented on #15
I created a new release https://github.com/LLNL/STAT/releases/tag/v4.0.2. And there is  PR in Spack to include this updated version https://github.com/spack/spack/pull/15290. You can simply add the version to your package.py as can be seen in the PR in the meantime. Please let me know if this version works for you.

[2020-03-02 18:13] lee218llnl commented on #15
The Spack PR for 4.0.2 was merged. Can you test that out and see if you still get seg faults? If you still get seg faults, you may want to let Spack build python and all its dependencies and see if that works any better.

[2020-03-02 18:54] lee218llnl commented on #17
This is also now included in the latest 4.0.2 release https://github.com/LLNL/STAT/releases/tag/v4.0.2. @pramodk can you please test this out?

[2020-03-02 20:46] pramodk commented on #17
@lee218llnl : thank you very much!

I was using 3.0.1 because of segfault I mentioned in #15.

I don't have access to the system for 10 days and hence I will be test this only after this Friday. I will update you as soon as I test this further.

[2020-03-02 21:04] lee218llnl commented on #17
OK, the long edge label has definitely been fixed since 3.0.1. Regarding #15, I'm hoping the new version won't seg fault or that you can try letting spack build python and all the necessary site packages. All said, since the error that you reported in this particular issue has been known to have been fixed, I will close this out.

[2020-03-02 21:04] #17 closed

[2020-03-04 15:13] rashawnLK opened #18 "Error using stat-cl: "terminate called without an active exception""
Hello,

I  am not sure if this error is related to  STAT, Launchmon, or something to do with Slurm.  I have installed STAT 4.0.1 with Spack release 0.14. The build completed successfully. However I did not specify  to use Slurm as the resource manager like I did previously with the Launchmon manual build.

When using stat-cl to launch an application on our cluster, I see the following error report

[2020-03-04 16:05] lee218llnl commented on #18
@rashawnLK, someone reported a similar error in #15. Can you get me some more debug information? First, can you send me the full command you run for your parallel slurm job and the full output. I am assuming that the "terminate..." message is coming from srun?

Also, can you try enable logging in STAT? You can run `stat-cl -l FE -l BE -L$HOME/statlogs` and this will create some log files in the $H

[2020-03-04 17:52] rashawnLK commented on #18
@lee218llnl, thank you for the pointer to [#15](https://github.com/LLNL/STAT/issues/15) , and the debugging/logging semantics for stat-cl.

The full command for the parallel Slurm job, enclosed in a sbatch script is:

and with  it:

The sbatch script is called using sbatch in the following manner:

The full output from the debugging/logging run as printed in the slurm *.out file is:

Launching app

[2020-03-04 21:08] lee218llnl commented on #15
@pramodk If you are building STAT with spack, can you try adding ~fgfs to the spec (i.e., `spack install stat~fgfs`)? I am seeing seg faults too related to some of fgfs' dependencies.

[2020-03-04 21:09] lee218llnl commented on #18
@rashawnLK if you built STAT with spack can you try adding ~fgfs to the spec (i.e., `spack install stat~fgfs`)?

[2020-03-04 21:18] pramodk commented on #15
Ok thanks! I will test with ~fgfs as soon as system will be back!

[2020-03-06 00:59] rashawnLK commented on #18
@lee218llnl, I added ~fgfs to my spack install statement:
`spack -C ${confs} install stat~fgfs %gcc@8.3.0 ^ncurses+termlib 2>&1 | tee logs/2020_0304_stat-4.0.1_gcc-8.3.0_python3_mpich-gnu32_spack-01.out`

That change is the only change I made to the installation statement.

This installation did not progress very far; and exited without a reasonable error message or a log file written by Spack:
`.

[2020-03-06 15:13] lee218llnl commented on #18
@rashawnLK I generally parse the output looking for any reference to "error". There seem to be a bunch of curl errors, so it looks like it was having trouble downloading some of the source tar balls. This can often be an intermittent issue with the download site, so I first suggest retrying the exact same spack install command. You can then also check to make sure you have access to the tar file b

[2020-03-06 22:32] rashawnLK commented on #18
Hi Greg @lee218llnl, I looked at the curl errors and discovered that I am able to easily retrieve the libXdmpc package. I suspect something happened during my installation the other day which caused this package to not install.  The good news is I re-installed STAT successfully earlier today with  the semantics used before:
`spack -C ${confs} install stat~fgfs %gcc@8.3.0 ^ncurses+termlib 2>&1 | te

[2020-03-09 17:29] lee218llnl commented on #18
Hmm, I'm not sure what is going wrong here. What version of SLURM are you using? Would you be able to try compiling with Intel MPI and using the Intel MPI's mpirun? Another option would be to do similarly with OpenMPI. Also, do you have totalview or ddt that you can use to try and debug your SLURM-launched job? That might provide another interesting data point.

[2020-03-23 14:51] lee218llnl commented on #18
@rashawnLK any updates on this? Please see my suggestions in my previous comment.

[2020-03-23 14:52] lee218llnl commented on #14
@BenWibking any updates on you attempt to build STAT via spack?

[2020-03-23 22:58] rashawnLK commented on #18
@lee218llnl, I compiled with Intel MPI and tested using mpirun instead of srun; and same error where it does not appear to launch happens.  I did a test last week and re-ran it today. For a 16 node run of AMG2013, the stat-cl call  with logging enabled, using mpirun is:

`stat-cl -l FE -l BE -L /home/rlknapp/sources/A21-workloads/amg2013/gcc-8.3.0/impi-2020.0.166/AMG2013/test/statlogs -C mpirun -n

[2020-03-23 23:20] lee218llnl commented on #18
I don't know if he has time to help, but I'm going to rope in @dongahn. @rashawnLK you may want to try downloading LaunchMON source https://github.com/llnl/launchmon and follow the build instructions in the README, being sure to configure with "--with-test-rm=slurm" and to run `make check` after `make install`. This will build some tests in test/src and I suggest trying to run test.launch_1 and if

[2020-03-23 23:22] rashawnLK commented on #18
@lee218llnl. Thanks for the build from source tip. I will do this.

-Rashawn

[2020-03-24 09:35] matthiaslum opened #19 "Spack Unable to install for Mac Mojave/Catalina systems"
./spack install stat

==> Warning: clang@11.0.0-apple cannot build optimized binaries for "broadwell". Using best target possible: "x86_64"
==> Error: libelf@0.8.13%clang@11.0.0-apple arch=darwin-catalina-x86_64 does not satisfy elf@1

[2020-03-24 13:08] lee218llnl commented on #19
@matthiaslum I have never tried building on a Mac and don't have access to one to test this. It looks like the problem is the provider of elf. Can you try to `spack install stat^elfutils`?

[2020-03-24 13:28] matthiaslum commented on #19
It results in "%clang" conflicts with "elfutils".
Is there any other system you would recommend building STAT on?
How about windows?

[2020-03-24 13:49] lee218llnl commented on #19
Your best bet would be to build STAT on a Linux system if you have access. Windows is definitely not going to work. Something else you may try on your Mac is to install gcc and use that as the compiler. I will also point out that TotalView and DDT are both great parallel debuggers and may offer student discounts (or potentially even free licenses). TotalView and DDT are both full-featured debugger

[2020-03-26 09:56] BenWibking commented on #14
The installation now fails with:

[code]

[2020-03-26 13:06] lee218llnl commented on #14
That URL appears valid to me and I was prompted to download when I enter it in a browser. Sometimes with those fetch errors, you may need to just try again.

[2020-03-27 02:03] BenWibking commented on #14
Ok, that works now. I'm back to an earlier error about scripts/STAT. I've checked and the scripts directory does exist, so I'm not sure why it's failing.

[code]

[2020-03-27 13:50] lee218llnl commented on #14
Can you attach your config.log file? Perhaps the ./confhxK2X8/out file is what is missing for some reason.

[2020-03-30 04:24] BenWibking commented on #14
Here is my config.log file.
[config.log](https://github.com/LLNL/STAT/files/4400766/config.log)

[2020-03-30 15:24] lee218llnl commented on #14
I saw a post in another project that reports one user encountered this error when they had a non-standard `rm` command. Do you alias or wrap `rm`? In my config.status I see this:
`  case $ac_file in
  -) cat "$ac_tmp/out" && rm -f "$ac_tmp/out";;
  *) rm -f "$ac_file" && mv "$ac_tmp/out" "$ac_file";;
  esac \
  || as_fn_error $? "could not create $ac_file" "$LINENO" 5
 ;;`

So it would be possible

[2020-03-31 05:23] BenWibking commented on #14
No `rm` is not aliased or wrapped in my environment.
I've attached config.status (renamed so it will accept the upload).
[config.status.txt](https://github.com/LLNL/STAT/files/4406894/config.status.txt)

[2020-03-31 14:11] lee218llnl commented on #14
comparing the line numbers, this is where it is failing:

[code]
That means either the "rm -f" is failing or the "mv" is failing. My guess is that the "rm -f" should work OK, as it worked for previous input files. Also, you indicate the scripts directory exists, so it should be able to move files in there. That said, my best speculation is that for some reason $ac_tmp/out does not exist. My next s

[2020-04-01 06:22] BenWibking commented on #14
The directory `var/spack/repos/builtin/spack` doesn't exist in my spack repo. I tried to modify `lib/spack/spack/package.py` but the output in spack-build-out.txt didn't show anything from strace.

[2020-04-01 06:25] BenWibking commented on #14
I am on the `develop` branch, commit `a4b3edd68`. Should I be on a different branch?

[2020-04-01 11:37] lee218llnl commented on #14
Sorry I meant var/spack/repos/builtin/packages/stat/package.py. Develop branch is correct
Sent from my iPhone

On Mar 31, 2020, at 11:26 PM, Ben Wibking <notifications@github.com> wrote:

﻿

I am on the develop branch, commit a4b3edd68. Should I be on a different branch?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/LLNL/STAT/is

[2020-04-01 12:23] lee218llnl commented on #14
Sorry for the typo. To make sure I didn't make any other mistakes (and to clean up the code a bit), here's a git diff:

[code]

[2020-04-01 13:31] lee218llnl commented on #18
rashawn, I put in a PR to launchmon to fix some of the test building so that it'll work with spack. If you modify your launchmon spack package.py, then it can install tests too:

[code]

the tests will install in <prefix>/share/launchmon/tests. You should first try the test.launch_1 script. Note you may have to edit the script, in particular it is specifying "pdebug" as the partition to launch und

[2020-04-08 04:25] BenWibking commented on #14
I now get an (unrelated?) error when trying to build llvm. I've attached spack-build-out.txt again.
[spack-build-out.txt](https://github.com/LLNL/STAT/files/4448170/spack-build-out.txt)

[2020-04-14 07:06] BenWibking commented on #14
Ok, it works if I force it to use llvm@9.0.1. I've attached the (very large) build log for the `scripts/STAT` error with the `strace` patch.
[spack-stat-build-failure.tar.gz](https://github.com/LLNL/STAT/files/4473667/spack-stat-build-failure.tar.gz)

[2020-04-15 22:13] lee218llnl commented on #14
I am honestly at a loss here. The relevant strace error output is:

[pid 11044] ioctl(0, TCGETS, 0x7ffd43eb0d30) = -1 ENOTTY (Inappropriate ioctl for device)
[pid 11044] renameat2(AT_FDCWD, "./confCm8JsN/out", AT_FDCWD, "scripts/STAT", RENAME_NOREPLACE) = -1 EINVAL (Invalid argument)
[pid 11044] newfstatat(AT_FDCWD, "scripts/STAT", 0x7ffd43eb0cf0, AT_SYMLINK_NOFOLLOW) = -1 ENOENT (No such file or

[2020-04-16 00:52] BenWibking commented on #14
Can you explain what the build script is trying to do? It looks like it's trying to rename the `out` file to `scripts/STAT`, detecting a failure, then trying again with a different system call -- is that the case?

Could this be a filesystem issue? There have been a few issues on this cluster recently. If so, I'll raise it with the cluster sysadmins.

I'll also try building from source as you desc

[2020-04-16 00:58] BenWibking commented on #14
For an NFS-mounted filesystem, is this something that could arise due to synchronization/caching issues?

[2020-04-16 01:30] lee218llnl commented on #14
First let me say that I am by no means an expert of autoconf/automake, but I have gathered some understanding from generating the build system and from the strace output. Configure is taking input files like etc/Makefile.in, scripts/STAT.in and then generating etc/Makefile, scripts/STAT based on the args passed to configure and what configure finds. Essentially it replaces some variables with some

[2020-04-17 20:13] lee218llnl commented on #18
@rashawnLK have you tried the launchmon tests?

[2020-04-21 08:11] BenWibking commented on #14
I tried building from the git repository using `spack build-env` and it compiled and runs successfully. Thank you for your help!

[2020-04-21 14:56] lee218llnl commented on #14
Great, glad to hear it installed and ran OK. I hope you find it useful. I will close out this issue.

[2020-04-21 14:56] #14 closed

[2020-04-23 02:48] rashawnLK commented on #18
@lee218llnl, I got this working as you described. Thank you!

[2020-04-23 02:51] lee218llnl commented on #18
@rashawnLK at what level is this working? Did it install? Were you able to successfully run the launchmon tests? Were you able to get STAT to work?

[2020-04-23 02:54] rashawnLK commented on #18
I ran the launchmon tests. My cluster will be offline tomorrow, so I will resume STAT incorporation the day after that.

[2020-10-11 08:18] antonl321 opened #20 "STAT_BackEnd.C:3892:36: error: cannot convert 'Dyninst::dyn_c_vector<Dyninst::SymtabAPI::Field*>*'"
Hi,

I'm trying to build STAT with spack and on Redhat 8 with gcc 8.3.1.
I'm getting the error from above.
Is any workaround it?
The build line that fails is below.

Kind regards,
Lucian Anton

[code]

[2020-10-12 15:14] lee218llnl commented on #20
which version of STAT are you using? I think I may have fixed this issue as of Aug 28, but that is not in a release, but rather the develop branch of the github repo (https://github.com/LLNL/STAT/commit/9304548d6909d008f4bbe81695191e4c34c0c401).

[2020-10-13 16:13] antonl321 commented on #20
Hi Gregory,

I used the develop version and the build is fine.
However it does not work.
I have tried stat-cl on a simple test code (both attach or with -C ).
I get STAT started at ...
Launching application and tool daemons ....
and then a core file. No other info.

Do I need any special setup for the compute nodes?

Lucian

On Mon, 12 Oct 2020 at 16:15, Gregory Lee <notifications@github.com> wrot

[2020-10-13 17:36] antonl321 commented on #20
Hi Gregory,

I use slurm on redhad 8.2.
STAT installed with spack.

here comes the backtrace from the core file:

Lucian

Reading symbols from
/home/lanton/Tools/spack/opt/spack/linux-rhel8-zen/gcc-8.3.1/stat-develop-uwbqdzqpfhhq7y7pvy3f63js4x3rs2uk/bin/STATbin...done.

[New LWP 17438]

[Thread debugging using libthread_db enabled]

Using host libthread_db library "/lib64/libthread_db.so.1".

warn

[2020-10-13 17:50] lee218llnl commented on #20
wow, that's a mess. Before we try debugging further, can you please try to build against launchmon@master? If were lucky, you may just be tripping on an issue that has already been fixed.

[2020-10-14 00:08] rashawnLK opened #21 "Encounter SDBG_TRACER_ERROR (ERROR) with BACKTRACE when executing stat-cl"
Hello,

I have a built from source build of STAT 4.0.2 in which I encounter a LaunchMON error,  "SDBG_TRACER_ERROR (ERROR)" and BACKTRACE after the application has completed it work and just before the STAT and launchmon processes should detach from the application. The job hangs, and does not exit properly.

STAT build configuration details:
OS: SLES 15.2
C and C++ compilers: GNU 7.5.0
Dyninst 10

[2020-10-15 18:03] lee218llnl commented on #21
It looks like the application completed before STAT was able to get fully attached, so errors are not entirely unexpected. Why are you trying to launch and run this under STAT? Does the application actually hang? If so, could you try attaching to the job rather than launching it with STAT?

[2020-10-26 18:00] lee218llnl commented on #20
@antonl321 have you tried with the master branch of lauchmon?

[2020-10-26 18:00] lee218llnl commented on #21
@rashawnLK any updates on this? Did you see my previous comment?

[2020-10-26 19:08] antonl321 commented on #20
I did, but without success. Unfortunately I have to deal with a pressing
issue at my job, so I have no time to look further into this.  I think that
this issue should be put on hold, if possible.

Lucian

On Mon, 26 Oct 2020 at 18:00, Gregory Lee <notifications@github.com> wrote:

[2020-10-26 19:26] rashawnLK commented on #21
@lee218llnl, Thank you for asking about attaching to the process.  I thought I could use STAT on an application that is not hanging to show that STAT is working.  I changed my approach to attach explicitly to the running STAT examples. This is working. I delayed in responding because of a separate internal issue with dependencies which were in an earlier environment but are now missing and affect

[2020-10-26 20:32] lee218llnl commented on #21
@rashawnLK You certainly can attach to an application that is running OK to make sure it works. Also, launching a job under STAT should be fine too. I think the problem is that the AMG benchmark runs to completion too fast for STAT to have time to attach. I haven't run the AMG benchmark in a while, but recall with the default parameters that it is a very short run. I also don't remember if you can

[2020-10-26 20:32] #21 closed

[2021-04-04 17:49] pramodk commented on #15
I didn't get time to revisit this for long time and revisiting this now.

I am now installing latest v4.1.0 release. Will post here how it goes!

[2021-04-04 21:19] pramodk opened #24 "[Question] Is Rust really required as dependency of STAT?"
Hello @lee218llnl,

Just want to quickly check if Rust is really required as dependency for building STAT.

I see that it's not direct dependency but via `librsvg`. Even though Spack is managing all dependency building, package like Rust (with LLVM inside) takes quite some time to build (and my local build is failing with Rust). If there are any transitive dependencies that could be simplified/avo

[2021-04-04 21:48] pramodk commented on #24
Not directly relevant here but just for the record, rust build fails with following error. Not sure if this is something related to my local installation but I remember weird issues with Rust building:

[code]

[2021-04-06 22:55] lee218llnl commented on #24
It looks like this is a sub-dependence for gtkplus, which STAT uses for its GUI. As a workaround, I recently added a "gui" variant in STAT's Spack package, so you may be able to to `spack install stat ~gui`. Can you let me know if that works?

In terms of actually fixing the rust build, can you please create an issue in the Spack github project and reference it here? I would not be surprised if ot

[2021-04-06 23:06] pramodk commented on #24
Sure! Will give that right away!  (But, I have been using `stat-gui` to attach to running jobs.)

Sure, will do that (by tomorrow).

[2021-04-06 23:40] lee218llnl commented on #24
stat-cl <mpirun-pid> allows you to attach to a running job to collect traces. They are saved as .dot files in a stat_results/<yourappname> directory in the CWD from where you run stat-cl. Of course, you will need the GUI to view them properly, though. You can also open them with the `dotty` application from graphviz, but then you lose a lot of the STAT GUI browsing capabilities.

[2021-04-09 22:41] pramodk commented on #24
(some of the details are not relevant here but I will add it for completeness)

For the record, the rust error was related to openssl:

[code]

openssl was built by Spack but it was external. Have no idea why the external openssl (built via spack) would make rust unhappy. I re-built again same version but by removing an external entry and rust built fine.

Next error is:

[code]

**So I added `dep

[2021-04-09 23:01] pramodk commented on #24
And I am happy to say that I have got `4.1.0` working 🎉

![image](https://user-images.githubusercontent.com/666852/114248318-aad30680-9997-11eb-857b-887b030344f6.png)

We discussed some of issues about PYTHONPATH in #15. I will continue discussion there.

Also, let me know what you think about `@master` dependencies we have for fast-global-file-status, mount-point-attributes and launchmon. All the

[2021-04-09 23:25] pramodk opened #25 "PYTHONPATH is not properly expanded in stat-gui?"
In the stat-gui script we have following: https://github.com/LLNL/STAT/blob/445537fb93257e9f31ce70acb0bf5d6e6b4b7d50/scripts/STATGUI.in#L78

When I install STAT via Spack, I see following in our installation:

[code]

Note that PYTHONPATH doesn't contain dependencies like py-xdot. And even if I set `PYTHONPATH` externally, it doesn't capture that because we don't append `:$PYTHONPATH`. So all user

[2021-04-09 23:34] pramodk commented on #19
@lee218llnl @matthiaslum :  Packages like `Dyninst` are not supported on Mac OS. So I think we should add conflict for darwin platform in Spack recipe and close this issue.

[2021-04-09 23:35] lee218llnl commented on #25
for py-xdot, you need to `spack activate py-xdot`. That will "install" via symlinks it in the appropriate python installation's site-packages directory as if it were directly installed in there. Please let me know if that works.

[2021-04-09 23:38] pramodk commented on #18
@rashawnLK  : Last year I had lot of troubles using STAT in #15. As reported in #24, I am able to build & run 4.1.0 perfectly fine. So may be you can try the same.

[2021-04-09 23:38] lee218llnl commented on #19
I think this is better to report in the Spack github project. Can you submit a PR or issue there?

[2021-04-09 23:38] lee218llnl commented on #19
I can add the conflict in STAT's Spack package too.

[2021-04-09 23:43] lee218llnl commented on #24
glad to see you got it work! I will look into the m4 dependences and perhaps submit a PR in Spack when it is done. Also, FWIW, MPA and FGSS are inactive except for occasional bug fixes, so I hope you are comfortable depending on the master branch. In either case, I will talk with my colleague who develops them and LaunchMON to see if it makes sense to tag releases for all 3.

[2021-04-09 23:43] pramodk commented on #25
Thanks @lee218llnl for quick response!

In https://github.com/LLNL/STAT/issues/15#issuecomment-583139368 I mentioned following:

When we work with different clusters, python is installed by system engineers and STAT is not provided by default. So we install STAT ourselves and there is no way to run `spack activate` as python is read-only.

To make user experience smoother with manually installed s

[2021-04-09 23:55] pramodk commented on #24
As you know - if we deploy master version for any package, it can’t be reinstalled even though master is constantly changing branch. So in production deployment of software stack via CI, we always avoid installing master or develop versions.

So it will be great if we could have new tags. Or, we can create some dummy versions based on latest commit.

[2021-04-10 11:03] pramodk commented on #19
Sure. Done!

[2021-04-12 15:39] lee218llnl commented on #19
STAT was designed for large-scale HPC systems. Mac OS is unfortunately not supported.

[2021-04-12 15:39] #19 closed

[2021-04-12 16:50] lee218llnl commented on #25
@pramodk sounds like a good suggestion. Can you see if #26 looks OK to you?

[2021-04-24 22:43] abhaasgoyal opened #27 "Error building stat"
I am getting this error when running `./bin/spack install stat:` on my local machine:

[code]

What packages should I install/edit here?

[2021-04-26 20:17] lee218llnl commented on #27
Was this a recent checkout of spack? Can you do a `git pull` in your spack directory and see if that fixes it? If not, then can you please submit an issue to the spack github project and assign it to me? This is more of a spack dependency issue that a STAT one. Thanks.

[2021-04-26 23:21] lee218llnl commented on #27
I can reproduce the problem. You can work around this with:

`./bin/spack install stat ^binutils+plugins`

[2021-04-27 00:07] lee218llnl commented on #27
@abhaasgoyal I submitted an issue to the Spack project. Please let me know if the workaround works for you in the meantime.

[2021-04-27 12:26] abhaasgoyal commented on #27
@lee218llnl it's installing successfully now, thank you very much for clarifying.

[2021-04-27 12:26] #27 closed

[2021-04-28 16:31] lee218llnl commented on #25
@pramodk, I think I have this fixed so I will close this issue.

[2021-04-28 16:31] #25 closed

[2021-04-28 17:04] pramodk commented on #25
thanks @lee218llnl! I just reviewed!

[2021-05-03 18:20] johnlvogt opened #28 "Option to keep just the most recent trace"
We have a situation where the user is trying to diagnose a problem that is causing the node to crash.    Stat could potentially record what the program was doing moments before the crash, but ideally it would only store the final result received from each node.   There is a --traces argument to stat-cl, but I believe that limits the results to the first traces.

[2021-05-04 00:29] lee218llnl commented on #28
I'm not exactly sure what you are asking for. Do you want to gather a trace when a crash is detected? You should be able to get that information if a core file is generated. STAT doesn't really have a way to intercept a job that is failing. Nor do I think it is particularly useful to constantly gather traces throughout the job since that will not show where it crashed. Let me know exactly what you

[2021-05-04 20:13] johnlvogt commented on #28
The idea isn't to intercept a job that is failing, just capturing what is was doing just before it failed; at least what it was doing up to the sampling interval of time before it failed.

One way of looking at that is to say that it's just stat running as usual except only keeping just the most recent trace from each rank.

I'm not sure even if the original request is useful since the application

[2021-05-04 20:14] johnlvogt commented on #28
Even if it's just me creating a one-off for the person to try out.

[2021-05-05 00:15] lee218llnl commented on #28
on the surface I can see what you would like to accomplish, but knowing STAT and how stack traces work, I have my doubts as to how useful such an extension would be. Even if you sample every 1/10th of a second, the last stack trace gathered is very unlikely to provide clues as to the root cause of a crash that occurs 1/10th of a second later. Traditional debuggers with breakpoints and fancy featur

[2021-05-05 14:46] johnlvogt commented on #28
No problem; sometime you just have to throw out an idea and see it triggers anything.    I thought it might dovetail in with diagnosing a hang where only the last trace is significant; but that's probably better done with the delay argument that's already there.

I also doubt that state of the application could explain a node dying; that's not how an OS is supposed to work.

[2021-05-05 14:46] #28 closed

[2021-09-04 10:38] antonl321 opened #33 "no function info in stat .dot files"
Hello,

I have install STAT develop and 4.1.0 via spack on RHEL 8.3 without gui and without fgfs.

I have tested both versions on a simple mpi code which locks in mpi_recv. In using gcc 8.3.1 and openmpi 4.0.5.2 .
I can attach stat-cl to srun,  the messages generated by stat-cl look fine and I get the stat_results directory.
When I tried to see a call tree with `dot` or `dotty` I got only a '/'.
T

[2021-09-07 22:54] lee218llnl commented on #33
@antonl321 Hmm, the logs don't indicate any error. Have you tried attaching gdb to one of the application processes to see if that works? Also, did you compile with -g and make sure not to strip the binary?

Another simple test you can do is to build the example in https://github.com/LLNL/STAT/blob/develop/examples/src/mpi_ringtopo.c and see if you can get STAT to work on that.

[2021-09-08 20:14] antonl321 commented on #33
Hi Lee,

Thanks for the suggestions.
I have tested gdb, its backtrace looks fine. I have tested also your test code and I got the same behaviour.
Also I have tried some of stat-cl options (threads, comprehensive) without any change in bevaviour.
One oddity I have noticed is that I cannot login to the slurm allocates nodes after stat is loaded by spack (see below).
But I'm not sure that tis is rela

[2021-09-09 16:18] lee218llnl commented on #33
Regarding `spack load` and the error you get, it is probably due to to LD_LIBRARY_PATH being modified. I will suggest that you do not `spack load stat` and rather run the full path to stat-cl directly, or just add the appropriate bin directory to your $PATH.

As for the backtraces, I'm wondering if dyninst is having problems for some reason. Can you run `spack spec stat@develop` to see which versi

[2021-09-10 16:07] antonl321 commented on #33
I had a look at dyninst. I reinstalled it with the stat pach and I reinstalled stat. No change unfortunately.
I attach the output of `spack spec -I stat@develop` and also the output of strace on stat-cl
[spec.log](https://github.com/LLNL/STAT/files/7145054/spec.log)
[strace.log](https://github.com/LLNL/STAT/files/7145056/strace.log)

[2021-09-10 16:18] lee218llnl commented on #33
Unfortunately an strace of stat-cl is not going to provide much information, as the problem is in the STATD process that is being launched alongside the application.

That aside, I am not sure what you mean by reinstalling stat with the patch. My recommendation is to try a different dyninst version. So if you spack install command was previously:

spack install stat ~gui ~fgfs

Please now try

spa

[2021-09-13 20:31] antonl321 commented on #33
Hello,

I tried your suggestion with careful checks, unfortunately I got the same result.
Anyway while runing `LD_DEBUG=libs stat-cl ...` I found the following errors in the output about undefined symbols. Perhaps this gives you a hint.

[code]

[2021-09-13 20:36] lee218llnl commented on #33
the problem is not in stat-cl, which is the tool front-end that merges the traces from the STATD daemons. The problem is that the STATD daemons are not getting traces, or getting empty traces from the application process. These empty traces are sent to the frontend. The debugging we need to do is to figure out why the STATD daemons are getting empty traces or having trouble getting traces. Let me

[2021-09-13 20:51] lee218llnl commented on #33
can you try adding `-l SW` to your stat-cl command line, in addition to the other -l and -L arguments you already provided? Please attach the STATD log after you do that.

[2021-09-13 21:14] antonl321 commented on #33
here it comes
[at1-1001.bullx.STATD.log](https://github.com/LLNL/STAT/files/7157386/at1-1001.bullx.STATD.log)

[2021-09-13 23:36] lee218llnl commented on #33
Hmm, after these messages

``<Sep 13 21:04:55> <STAT_BackEnd.C:1653> Attaching to all application processes
[process.C:8567-U] - Setting thread mode to HandlerThreading
[process.C:8588-U] - New state uses handler threading, running handler thread```

I expect to see something like this (from a log file in my test run):

```<Sep 13 13:49:15> <STAT_BackEnd.C:1773> Attaching to process a.out, pid 588

[2021-09-14 00:51] lee218llnl commented on #33
@antonl321 Can you append this to your spack/var/spack/repos/builtin/packages/launchmon/package.py:

[code]

Then run `spack uninstall --dependents launchmon` and answer "y" when it asks if you want to proceed. Then once again install STAT using the spack install command that you had previously used to install STAT. After that, please run STAT and send the output from the terminal as well as the c

[2021-09-14 00:58] lee218llnl commented on #33
Actually, if you can, please send all the files from the directory that STAT created when it says "Results written to". That will help see what the frontend has for the process table too. Ultimately, I think (just a hypothesis right now) there may be a mismatch between the hostnames in the front-end's process table and the ones that the daemons get when they call gethostname, thus they don't find

[2021-09-14 16:34] antonl321 commented on #33
Hi,

I found out that there is quirk on the system I try to install STAT. Long name for compute nodes (i.e. \<node-name\>.bullx produced by hostname) cannot be used to connect to compute nodes. I think that lmon
 trips on this, see the out file attached. The error file is empty. I'll try to have this fixed and test STAT again.
Is any way to tell lmon to use short names as produces by hostname -s?

[2021-09-14 19:02] lee218llnl commented on #33
@antonl321 not to be pedantic, but it actually is not a problem connecting. The daemons are connected properly. The problem is that after they are connected, the STAT frontend is trying to tell each STAT backend daemon which MPI application processes it needs to attach to. The frontend has a process table with node names like "at1-1002", but when the backend daemons call gethostname, they get "at1

[2021-09-14 19:09] antonl321 commented on #33
Thanks for comments. Sys admin on my side is looking into this and try to fix it. As far as I understand it is about a proxy configuration.
I'll get back with news soon, I hope.

[2021-09-15 14:57] antonl321 commented on #33
Hello,

I found out that the name issue is not an issue on an other system which is very close to the first one (hardware and software).
I attach the stat-cl output dir. I can see the functions names in .dot files, but there are also lots of null values. Is this right? dot generates a plot with boxes and links but no other info.

[t3.x.0000.tar.gz](https://github.com/LLNL/STAT/files/7171063/t3.x.0

[2021-09-15 14:59] antonl321 commented on #20
The problem went away after software upgrade.

[2021-09-15 14:59] #20 closed

[2021-09-15 15:11] lee218llnl commented on #33
@antonl321 The dot files that STAT generates are designed to be viewed in the stat-view GUI. I can view it with my stat-view and have attached a pdf export of the 3D dot file. Can you see if you can get STAT to build with the GUI enabled in spack now?

[t3.x.3D.pdf](https://github.com/LLNL/STAT/files/7171207/t3.x.3D.pdf)

[2021-09-15 15:28] antonl321 commented on #33
Ok, thanks. I'm trying now a build STAT with GUI on the new system. It takes a while to build llvm. On the other system the GUI build failed because of graphical lib. I'll get back to you when after the build ends.

[2021-09-15 20:05] antonl321 commented on #33
When trying to build with the graphical interface I get this failure for the pango library, see below.
Any hints to fix its build? I found strange that in src there is no cofigure or autotools files.

[code]

[2021-09-15 20:18] lee218llnl commented on #33
@antonl321 for the spack error installing pango, can you search the spack github page to see if anyone else has reported this? If not, I will suggest submitting an issue to the spack project on github.

[2021-09-15 20:21] lee218llnl commented on #33
In fact, I found https://github.com/spack/spack/issues/25651, which suggests add "^pango@1.42.0" to your spack install command.

[2021-09-15 20:55] antonl321 commented on #33
That worked, thanks! However rust is misbehaving when building librsvg

[code]

I never used rust, any hint is much appreciated.

[2021-09-15 21:32] lee218llnl commented on #33
@antonl321 I am not a rust user either. I suggest you submit an issue to the spack project. Please pass me a link to the issue when you do. Also, I will suggest including more error output when you submit the issue. Sometimes it helps to see the lines before the error to see which command is running and get more context.

[2021-09-16 13:44] antonl321 commented on #33
Well, librsvg build was successful  with `spack install -j 1 ...` and I got stat-gui working.

One package is left outstanding, fgfs which fails with the following

[code]
Any hints on that? It seems to me that the bootstrap script is not run.

[2021-09-16 19:53] lee218llnl commented on #33
For FGFS, it looks like we need to add:

[code]

to spack/var/spack/repos/builtin/packages/fast-global-file-status/package.py

I will put in a pull request to the spack project, but you can manually add this in the meantime.

[2021-09-16 19:59] lee218llnl commented on #33
https://github.com/spack/spack/pull/26005

[2021-09-17 22:23] antonl321 commented on #33
The fixed worked fine. I could inspect easily with STAT a run with with ~580 nodes (>4000 MPI ranks).
Thank you for the prompt and useful suggestions.
I'm closing this issue.

[2021-09-17 22:23] #33 closed

[2021-10-18 09:28] moguzhankarakaya opened #34 "SDBG_TRACER_ERROR (ERROR) while attaching hanging mpi process"
Hi,

I am having issue while trying to get stack analysis out of a hang process with stat-cl. I am using `spack` to install `STAT@4.0.2`. The example I am trying to run is from STAT repository /examples/src/mpi_ringtopo.c.  I took this example and compiled it with mpicc compiler coming with intel-oneapi hpc toolkit. Then I tried to run it simple by

`mpiexec.hydra -n 4 mpi_ringtopo`

Again, I use

[2021-10-18 14:59] lee218llnl commented on #34
The error message, "error returned from ptrace Operation not permitted" indicates that your OS may have debugging restrictions that are not allowing launchmon to attach to it. Are you able to attach gdb or any other debugger to mpiexec.hydra as a test? @dongahn may have more advice too.

[2021-10-19 16:11] #34 closed, assigned to nobody

[2022-02-17 15:04] roblatham00 opened #35 "gdb stuck in 'reinitialize source path to empty' prompt"
Platform:  OLCF Summit
Versions:  STAT from spack:   `spack install stat%gcc@10.2.0 cxxflags=--std=c++14`
[code]

I was trying to collect/compare backtraces for ten core files with a command like this:

`stat-core-merger -x =bedrock -F stdout -c /gpfs/alpine/csc332/scratch/${USER}/quintain-cores/`

after fixing up python's string/bye challenges (maybe I goofed that!) , the command hangs.   Running

[2022-02-17 23:11] roblatham00 commented on #35
I added additional logging to see what GDB is telling us.  It is stuck here at a line that may or may not be needed on pppc64 le (which is the platform i'm on as it happens)

https://github.com/LLNL/STAT/blob/develop/scripts/core_file_merger.py#L409

In the end I fell back to python-2.7 and now it's working

[2022-02-18 14:03] roblatham00 opened #39 "STAT_merge.dot strangely formatted"
The stat user guide says I should get a tree view like this, with nodes labeled by function name and edges labeled by node counts and rank identifiers.

What I'm supposed to get:
![image](https://user-images.githubusercontent.com/2278417/154696299-774e4b4a-e6b8-44a9-88b6-2587c6d3ae5f.png)

I'm not using stat-view, but instead rendering the dot files myself with ` dot -Tpng STAT_merge.dot`

What I

[2022-02-18 16:27] roblatham00 commented on #39
thanks for clarifying.  I see now spack builds STAT with it's `gui` variant disabled by default.  I tried building STAT with the +gui variant but it brought in dependencies that don't readily compile on ORNL's summit.

Do you want a separate issue to track "spack on summit" ?   As I mentioned in #35 I have to use python2 on summit, but the py-gtk dependencies appear to want python3

I do sometimes

[2022-02-18 16:37] lee218llnl commented on #39
Unfortunately there isn't currently a way to export with stat-cl. I'm going to run some tests with a spack build on our ppc64le CORAL systems to see if I can get everything working and hopefully that will translate to summit. In the meantime, you could try installing stat with +gui on some other system. Building on x86 is generally easier. You could then generate the .dot files on summit and copy

[2022-02-18 16:53] roblatham00 opened #40 "Building STAT gui on summit"
STAT user guide suggests using spack

on ORNL summit, I have found that `stat-core-merger` only works with python2.7, which poses challenges:

[code]

[2022-02-18 17:09] lee218llnl commented on #40
To be honest, the stat-core-merger isn't very well supported and is not the primary use case for STAT. STAT is more commonly used to attach to running hung jobs.

Certainly to build STAT via spack, you will need to use python 3.X. I think some effort would need to be done to make stat-core-merger work with python 3.X. I know that this in inconvenient, but you could build STAT with spack with pytho

[2022-02-18 17:41] roblatham00 commented on #40
I'm sorry to hear that about stat-core-merger.  I was looking for a way to collect backtraces and it did exactly what I wanted.

[2022-02-18 20:52] lee218llnl commented on #35
I just commited changes to the develop branch to comment out those lines

[2022-03-23 21:31] roblatham00 commented on #35
A note for me to look one day at doing the gdb communication the other way around:  instead of python reading gdb, have gdb execute a python script (https://sourceware.org/gdb/onlinedocs/gdb/Python-API.html)

[2022-04-28 10:17] antonl321 opened #42 "can't open file '/lib/python3.9/site-packages/STATmain.py'"
Hi,

I have installed with spack the latest STAT and the launch fails with the message from below:

/lus/h2resw01/hpcperm/la/Tools/spack/opt/spack/linux-rhel8-zen/gcc-8.4.1/python-3.9.12-5ac5g7upuz2pwa7x6oxpxvx7leq32a2q/bin/python3.9: can't open file '/lib/python3.9/site-packages/STATmain.py': [Errno 2] No such file or directory

An install that I have done on a similar system in February worked f

[2022-04-28 17:06] antonl321 commented on #42
Ok, following our lead I found that PYTHON_PREFIX was not defined. Spack should have fix it, anyway.
I set it to correct value but I get this symbol error at launch. Any hint ?

  2711156:     /lus/h2resw01/hpcperm/la/Tools/spack/opt/spack/linux-rhel8-zen/gcc-8.4.1/gdk-pixbuf-2.42.6-lm3clg77j3q3dpmhogldhwgpctus7fv5/lib/gdk-pixbuf-2.0/2.10.0/loaders/libpixbufloader-svg.so: error: symbol lookup erro

[2022-04-28 19:31] lee218llnl commented on #42
Can you try running:

That symbol should be defined in the libgtk library:

[2022-04-28 20:18] antonl321 commented on #42
ldd output looks fine but some of the symbols are not found by nm.

I should mention perhaps that when I launch stat-gui the STAT the start window appears for a fraction of a second and then it crashes.

LD_DEBUG=libs,symbols dump this error for the first unfound symbol.  Wrong version of libglib or similar?

   1581989:     symbol=g_module_check_init;  lookup in file=/lus/h2resw01/hpcperm/atosla/

[2022-04-28 21:21] antonl321 commented on #42
I got a core file from the crash. Do you know which executable I have to pass to gdb together with the core file?

[2022-04-28 22:02] lee218llnl commented on #42
You can pass it the python executable.

[2022-05-04 13:26] antonl321 commented on #42
with export PYTHONDEVMODE=1 I get the following

  label = gtk.Label("Please Wait...")
/lus/h2resw01/hpcperm/atosla/Tools/spack/opt/spack/linux-rhel8-zen/gcc-8.4.1/stat-develop-rv3h57xami2zet7347sasplfvntpesq3/lib/python3.9/site-packages/STATGUI.py:839: DeprecationWarning: Gtk.ScrolledWindow.add_with_viewport is deprecated
  self.sw.add_with_viewport(vbox)
Fatal Python error: Segmentation fault

C

[2022-05-04 14:34] lee218llnl commented on #42
It might help if you run gdb on the core file or run STAT under gdb so we can see where in the GTK implementation it is seg faulting. Based on the python trace, though, this looks like it is not a STAT bug, but rather a GTK bug.

[2022-05-05 09:19] antonl321 commented on #42
I don't understand this. I build with python 3.9.9 which works on another system (same SW stack) and I get the the crash. Not many other version diffs in the spack dependencies between the two installations.

The first problem with the new install is that PYTHON_PREFIX is not defined, hence the first failure. Do you know if this variable is comes form spack environment or it belongs to STAT packag

[2022-05-05 17:27] lee218llnl commented on #42
I was able to track the change to moving from automake 1.15 to automake 1.16. With that in mind, can you `spack uninstall -a stat' to remove your current stat installations and then reinstall stat with spack adding ^automake@1.15. Let me know if that fixes it for you. If so, I will update the spack package to reflect this until I can fix the issue in the STAT build system itself.

[2022-05-05 21:03] lee218llnl commented on #42
the spack PR was merged. If you do a git pull in your spack directory, you should get an updated stat package.py that forces automake version 1.15 (and also dyinst 11.X). Please let me know if this works for you.

[2022-05-06 20:54] lee218llnl commented on #42
OK, I'm glad the PYTHON_PREFIX issue is fixed. I too see seg faults with stat-gui. It's not clear if the crash in the link you sent is related. FWIW, here is part of the trace for the STAT GUI crash:

[code]

[2022-05-10 16:41] lee218llnl commented on #42
Based on a diff of your outputs and a google search of the stack trace, I found https://gitlab.gnome.org/GNOME/gobject-introspection/-/merge_requests/283 and figured out that this issue is with the move from libffi@3.3 to libffi@3.4.2. If you add `^libffi@3.3`, then you will not get the seg fault. I will work on a PR for spack and py-xdot.

[2022-05-11 12:44] antonl321 commented on #42
Tested on my system. Works fine.
Thanks for your prompt help!

[2022-05-11 12:44] #42 closed

[2022-06-08 12:47] antonl321 opened #44 "error when trying to use stat-gui -a host:pid"
Hello,

I'm trying to simplify for the users the start of stat-gui with a given slurm job id.
I thought the -a flag of stat-gui is the way to go but when I tested I get the error from below:

[code]

I don't understand how
args.gdb is not None
in the script referred above.

regards,

Lucian

[2022-06-08 17:58] lee218llnl commented on #44
The -a option takes the hostname:PID of the srun process or if srun is running on the current host, just the PID. Note this is the PID not the SLURM job ID.

[2022-06-08 17:58] lee218llnl commented on #44
That aside, it shouldn't be giving an error about the gdb namespace, so I will look in to that aspect

[2022-06-08 18:18] lee218llnl commented on #44
ugh, sorry, I need to read the description better. It looks like you are specifying a hostname:PID. I will investigate. Sorry for my mistake earlier.

[2022-06-08 18:28] lee218llnl commented on #44
I just updated the develop branch. Can you please rebuild and try again?

[2022-06-09 12:37] antonl321 commented on #44
Hi,

Very strange, I have rebuilt stat and now the lmond don't start, see below stat-gui output.
I have done a `git pull` in my spack repsitory before rebuild, probable not a very smart idea.
Even so, it should work.

I use this install command:
spack install stat@develop ^dyninst@10.2.1 ^automake@1.15 ^libffi@3.3

any problem with it?
I'm doing now  full rebuild ( install --fresh).

[code]

[2022-06-09 15:53] antonl321 commented on #44
I think not, my grep gets ony the comment
cat ./opt/spack/linux-rhel8-zen/gcc-8.4.1/launchmon-master-zy65elfjejscnzmit6jr2ypexlg7lzue/etc/rm_slurm.conf | grep overlap
##        Aug 13 2021 GLL: Add --overlap to launch_str if configure detects srun version >= 20.11

Should I put it back by hand?

[2022-06-09 16:29] lee218llnl commented on #44
I think it is worth a try, so please add it back by hand and let me know if it works. Can you also send the output of "srun --version"? It looks like you are using a version that I did not flag in the configure script, and maybe I should set the threshold to less than 20.11.

[2022-06-09 16:54] antonl321 commented on #44
Yep,

that line fixes the srun problem. -a option works as well with the new build.
We had a recent upgrade of slurm on our systems.

[2022-06-09 16:58] lee218llnl commented on #44
Glad to hear that worked! Did you rebuild launchmon after the slurm upgrade? My guess is "no", but I just want to confirm.

[2022-06-09 17:13] antonl321 commented on #44
no, but I'm running now a fresh rebuild. I'll be back when is ready.

[2022-06-10 22:30] lee218llnl commented on #44
I just did my own test and stat-gui ran OK for me with harbuzz-4.2.1. Can you send the full error output that you saw?

[2022-06-12 18:47] antonl321 commented on #44
Hi,

Attached is the ouput of stat-gui when using  the fresh build with harfbuzz 4.2.1
I have loaded py-xddot but I get the same error.
Strange enough I don't see any mention of harfbuzz in this try!

In the same file after the error message I have attached the output of `spack find -d ...`

BTW, spack prints this  warning
Warning: spack activate is deprecated in favor of environments and will be

[2022-06-13 16:21] lee218llnl commented on #44
It looks like a problem finding the xdot module, but there aren't any specifics as to why it is failing to find xdot. If you run your spack's python and try to import xdot, what do you see? This is what I get

[code]

[2022-06-27 14:44] antonl321 commented on #44
Hi,

I have reinstalled stat with
bin/spack install -v stat@develop ^harfbuzz@4.2.1
and the stat-gui starts now but the gui crashes in less than one second with with "Segmentation fault"

My old install command is as follow
pack install -v stat@develop ^dyninst@10.2.1 ^automake@1.15 ^libffi@3.3

are these explicit dependencies still needed?

[2022-06-27 17:58] lee218llnl commented on #44
have you done a git pull for your spack recently? One GUI seg fault was fixe in https://github.com/spack/spack/pull/30595, which adds libffi@:3.3 to glib, to avoid having to explicity specify it on the spack install of stat.

[2022-06-28 11:25] antonl321 commented on #44
for the record
[code]
build with `spack install -v stat@develop ^dyninst@10.2.1 ^automake@1.15 ^libffi@3.3 ^harfbuzz@4.2.1`
works fine

[2022-06-28 11:54] antonl321 commented on #44
After a git pull in my spack dir I built stat without `^libffi@3.3`
`spack find -d ...` shows that `libffi@3.4.2` was picked and stat-gui crashes with a two words: "Segmentation fault"
so I'll stay with libffi@3.3.1 for the time being

[2022-06-28 15:13] #44 closed, assigned to nobody

[2022-06-28 15:26] antonl321 opened #45 "attaching ddt to a set of processes"
I have tried to attach ddt subset of processes and I get the following

`fork exec DDT ['/usr/local/apps/forge/21.1.1/bin/ddt', '--attach-mpi', '233863', '--subset', '0,2,34,37,12,48,58,30', './t3.x']
The specified process was not found.`

I suspect that ddt has to be launch on head node whre srun launch.

Further exploration with attaching ddt to an test code revealed that --attach-mpi is not wor

[2022-06-28 16:47] lee218llnl commented on #44
just out of curiosity, can you see if your var/spack/repos/builtin/packages/gobject-introspection/package.py contains this line:

And also check which version of gobject-introspection your stat build is picking up?

[2022-06-28 17:52] antonl321 commented on #44
I got this
[code]

is the first depend that break things?

[code]

[2022-06-28 19:52] lee218llnl commented on #44
That's strange. The first depends on is required and should not override the specific version dependence in the second depends. Do you perhaps have an older gobject-introspection installation? Perhaps you had installed that prior to me adding the libffi@:3.3 dependence in Spack.

[2022-06-28 19:58] lee218llnl commented on #45
For the example you gave you attached to "aa3-2035:312897" and I'm guessing you ran that from a login node or launch node. Are you able to ssh to aa3-2035 and launch the STAT GUI there? Once on aa3-2035, you should be able to just attach to the PID, 312897, in your case. Either way, I would then suggest trying to copy the exact ddt command line and all its args and run it on aa3-2035 as a sanity c

[2022-06-29 00:32] lee218llnl commented on #45
As noted in the mention, I put in another PR in spack. The latest gobject introspection did not get the fix/update that we were expecting, so we need to enforce the libffi version for the latest gobject-introspection 1.72.0. Thanks for reporting this and for your patience. I hope the explicit libffi dependence will suffice in the meantime.

[2022-06-29 00:35] lee218llnl commented on #44
As noted in the mention, I put in another PR in spack. The latest gobject introspection did not get the fix/update that we were expecting, so we need to enforce the libffi version for the latest gobject-introspection 1.72.0. Thanks for reporting this and for your patience. I hope the explicit libffi dependence will suffice in the meantime.

[2022-06-29 00:36] lee218llnl commented on #45
sorry for the incorrect reference to this issue, I meant to post it to issue 44.

[2022-06-29 09:14] antonl321 commented on #45
I have launched the job with srun from the login node. In this case the top srun demon (job slurm demon)  runs on the login node and ddt detects the correct srun process to connect. (well on my system ddt fails with the error I have described above).

When a job is submited with sbatch the job slurm deamon runs on the head node of the node allocation.
So, I think that stat makes the fork on the lo

[2022-07-05 23:51] lee218llnl commented on #44
My most recent testing seems to indicate that gobject-introspection 1.72.0 with libffi 3.4.2 works OK for py-xdot. After activating, I did get
[code]

I could work around this by loading the py-xdot module that spack installs:
[code]

and then the GUI pops up.

[2022-07-08 13:48] antonl321 opened #46 "<LMON BE API> (ERROR): read_lmonp return a neg value"
Hi,

I did some tests with the latest stat-cl.

It works file on runs with 45 nodes x 16 MPI
but it fails with the error from bellow on a run with 880 nodes x 8 MPI

[code]
In stat-cl.err I see the following

[code]

[2022-07-08 16:00] lee218llnl commented on #46
Can you attach the .top file in your stat_results directory?

[2022-07-09 07:27] antonl321 commented on #46
I got the following, obviously an incomplete list of hosts
[code]

[2022-07-11 16:34] lee218llnl commented on #46
as a workaround, you can set the topology to "depth" with a value of "1". This will connect the STAT FE directly to all the STAT BEs. The topology file is actually just MRNet communication processes that STAT uses to make it's communication more scalable. The number of hosts you see in the topology file is probably the square root of the number of nodes of your job.

That aside, I will have to do

[2022-07-11 16:42] lee218llnl commented on #46
I'm actually thinking that MRNet does not like the fact that there is the ".bullx" in your hostname. It may be the case that when it sees ".something" it thinks "something" is your domain name and then tries to resolve the network address using that. I'm guessing that in your case, ".bullx" is not the domain, but rather just part of the node name. Is this accurate?

[2022-07-19 17:22] lee218llnl commented on #45
I just pushed a change to the develop branch that adds a "DDT serial" button that implements your suggestion (https://github.com/LLNL/STAT/commit/f3827a3c596d5300e35b38b3eb5392867ccdbf7c). It appears to work for me. Can you test it out?

[2022-07-21 13:54] antonl321 commented on #46
depth 1 option works (no crash) but the stat-cl stays for ever in "Sampling traces..." when I try to sample a 880 nodes x 8 MPI/node job.
I have a suggestion here, if it were easy to implement it would be useful to see the progress of sampling every second or so. In this way one can decide quickly if it worth to wait or to cancel

[2022-07-21 13:56] antonl321 commented on #45
The new attachment works, but I don't get it to what group of nodes is attaching.
In my list I have equivalence classes with 1 node. I have cliked on the middle button for that class but ddt still attaches to a large subset of nodes.
How id this meant to work?

[2022-07-21 17:11] lee218llnl commented on #46
how long did you wait? It could take a few minutes when running with this flat topology rather than using a scalable tree.

Regarding progress sampling, there is no easy way to poll the daemons for progress, so unfortunately you suggestion cannot be implemented.

Ultimately, I'm hoping that we can get a fix in MRNet so you can use a scalable tree and then in theory the operation should be fairly q

[2022-07-21 17:19] lee218llnl commented on #45
By default, STAT will choose a single representative (Rep), the lowest MPI rank) for every equivalence class listed in the Equivalence Classes window. If you don't want a representative for a given equivalence class, please click on the "None' radio button in the EQ Classes window. The "All" should select all ranks listed on that line. Could you perhaps send screenshots of you eq class window befo

[2022-07-21 20:30] antonl321 commented on #46
Up to 30 minutes or so.
If I use a very simple test code (a few lines) I can get a stack trace in a couple of minutes even at a larger scale.
As I said in my previous message stat-cl gets stuck in  "Sampling traces...". The launch of the monitors goes ok. The app I'm interested in is rather complex with deep stack trace. I wonder if some timeouts block the whole process.

[2022-07-21 20:34] lee218llnl commented on #46
can you try running the same complex app with the deep stack at a smaller scale? One potential issue is contention on the file system since all the STATD's will be trying to parse you executable's debug information.

[2022-07-21 20:35] antonl321 commented on #45
Ok, I got you. I was confused about how the equivalence classes a are used by ddt. It makes sense now! Thanks.

I think that "DDT serial" is not the best name because this is used for a parallel apps and it might confuse some users. But I don't have a better idea. Essentially the second attach method goes directly to the app processes. I don't see a short name for this.

[2022-07-22 20:18] lee218llnl commented on #45
I just pushed another change to the STAT develop branch. I renamed both buttons, so now we have "DDT bulk attach" and "DDT host:PID attach". It's a bit wordy for buttons, but hopefully clarifies the difference. I also updated the documentation about this. Let me know if this looks good to you.

[2022-07-25 15:52] antonl321 commented on #45
I looks good. Thanks! Closing this issue here.

[2022-07-25 15:52] #45 closed

[2022-07-27 16:08] antonl321 commented on #46
I have run stac-cl with -l BE -l SW -l CP on the case that hangs ( 880 nodes x 8 MPI/node)
I have noticed that after some progress reported all log files stop being updated at about the same time (to the second).
The last line in *.STATD.log is
<STAT_FilterDefinitions.C:661> File request down stream filter end.
EXCEPT for one file which has
<STAT_BackEnd.C:1268> sending ackowledgement with tag 103

[2022-07-27 16:34] lee218llnl commented on #46
Yes, you can run STAT on STAT, but the latter instance is likely to hang for the same reason. I think the problem is that without the MRNet tree, the STAT FE is trying to connect to 880 BEs and send data. This is clearly not scalable and will either take too long or hang. I'm hoping we can get the fix in MRNet to tolerate the "." in your system's nodes hostnames so we can let STAT/MRNet deploy a m

[2022-07-27 16:54] antonl321 commented on #46
Perhaps this helps, internally in our cluster the short node names are enough for comms. So if you can get them with something like `hostname -s` it should be a quick fix.

[2022-07-27 17:12] lee218llnl commented on #46
I looked at the STAT source code and found that we already have a STAT_FE_HOSTNAME environment variable. @antonl321 in your case from above, can you set this variable to "ac1-1001" or whatever the short hostname is from where you invoke STAT? If you look at the .top file that it produces, the value that you specify should be on the first line, rather than the hostname with ".bullx". You might want

[2022-07-27 17:30] antonl321 commented on #46
I'm a bit confused, what exactly should be in STAT_FE_HOSTNAME? The name of the head node, or hostname pattern, or ...?

[2022-07-27 17:31] lee218llnl commented on #46
It should be the short hostname of the node from where you run stat-cl or stat-gui. Does that make sense?

[2022-07-27 18:04] antonl321 commented on #46
Yes, it does. I'll test this when I get some free nodes on the system. Hopefully this evening or tomorrow morning.

[2022-07-27 21:05] antonl321 commented on #46
With STAT_PE_HOSTNAME defined and without -d option stat-cl fails quickly with this sort of message ( see below).
Note STATD reports that it has a -d 1 flag although I didn't use one.
Without -d 1 stat-cl hangs as before.

<Jul 27 20:45:09> <STAT_BackEnd.C:655> registering signal handlers
<Jul 27 20:45:09> <STATD.C:196> STATD invoked with STAT invoked with: /lus/h2resw01/hpcperm/atosla/Tools/spack

[2022-07-27 21:21] lee218llnl commented on #46
Perhaps it's just a typo in your message, but you said you set "STAT_PE_HOSTNAME" when it should be "STAT_FE_HOSTNAME", that is it looks like you put a "P" where it was supposed to be "F". Regarding the "-d" option, that has a different meaning for the STATD process than it would with stat-cl, and "-d 1" is the correct option for STATD. That aside, can you send the .top file in the stat_results di

[2022-07-28 08:58] antonl321 commented on #46
I have checked, in my script I have the right variable name. I have miss-typed the variable name in my message.
Attached are the debug anf .top file
[stat-debug.tar.gz](https://github.com/LLNL/STAT/files/9207454/stat-debug.tar.gz)

[2022-07-28 16:46] lee218llnl commented on #46
Do you happen to have the STAT FE log file too? This would be enabled with -l FE. It looks like this is a different error in the STATD daemons when they are trying to receive their connection info from the STAT FE, and it would help to see where the FE is in the process.

That aside, it looks like there is a potential "fix" in MRNet. Can you modify your var/spack/repos/builtin/packages/mrnet/packa

[2022-07-28 16:52] lee218llnl commented on #46
I should add that with the "hntest" mrnet, please add XPLAT_USE_FQDN=1 when you run and please do not specify STAT_FE_HOSTNAME.

[2022-07-28 16:57] lee218llnl commented on #46
And when you test this, try at small scale again, perhaps 4 nodes and add the "-d 2" option to `stat-cl1.

[2022-07-29 14:02] antonl321 commented on #46
stat logs with -l FE attached.

I have rebuild mrnet and stat.
stat-cl -d 2 on small a test (4 nodes 128 MPI ranks) fails, see the attached file (*-d-2*).
The behaviour for large scale is unchanged, that is -d 1 hangs. -d 1 hung also on the small run once out of 3.
[stat-FE-debug.tar.gz](https://github.com/LLNL/STAT/files/9220558/stat-FE-debug.tar.gz)
[42875702-d-2.tar.gz](https://github.com/LLNL/

[2022-07-29 15:37] lee218llnl commented on #46
In both cases, i still see this in the STAT FE log:

Just to confirm, did you set XPLAT_USE_FQDN=1 in your environment? Also, can you cd to the MRNet installation prefix and grep for that environment variable to make sure you picked up the changes:

[lee218@rzwiz2:mrnet-hntest-kbsbtzcerm7qlrlxankxxhvmzr7mpcgy]$ grep XPLAT_USE_FQDN -nr *
Binary file bin/mrnet_commnode matches
Binary file bin/mrnet_

[2022-07-29 15:44] lee218llnl commented on #46
Also did you get any error output to the terminal when you ran?

[2022-07-29 16:37] lee218llnl commented on #46
I noticed in the topology file:

	ad2-2051:0
	ad2-2055:0;

That ad-2051 appears twice with the :0 rank. This is because the string comparison thinks the .bullx is a different host than the one without .bullx, and this may cause a conflict in MRNet. I pushed a change to the STAT develop branch that may fix this. Can you uninstall STAT with spack and rebuild `spack install stat@develop...` If you se

[2022-07-29 16:51] antonl321 commented on #46
I tested my mrnet installation, it matches the variable as in your example. I launch stat-* from a script which has this line
export  XPLAT_USE_FQDN=1. It should be fine. If possible stat in debug mod should dump the values of all environment variable of interest, just to be sure that they have the expected values.
For the new stat installation should I  keep mrnet@hntest?

[2022-07-29 17:00] lee218llnl commented on #46
STAT doesn't dump the value on env variables, but that is a good idea.

please keep using mrnet@hntest from here on out. This is what I think will be needed moving forward and if/when we get it to work, it will hopefully be merged in to the MRNet mast and then a release.

[2022-07-29 18:30] antonl321 commented on #46
I have installed the new version. I'm afraid that we are back to the negative value error when using -d 2
[code]
logs attached
[42875786.tar.gz](https://github.com/LLNL/STAT/files/9222486/42875786.tar.gz)

[2022-07-29 18:43] lee218llnl commented on #46
Can you add --procs=4 to your stat-cl command and let me know if that helps?

[2022-07-29 19:40] antonl321 commented on #46
yes, that fixes the error. the small test is sampled but the large one hangs as before.

[2022-07-29 19:59] lee218llnl commented on #46
can you please send me the debug log files for the large-scale hang case?

[2022-07-29 20:39] antonl321 commented on #46
This run generated a lot more data in  the STATD files. In total I have 7.8 GB  of logs but it hangs nevertheless. I put only 1 STATD file and the other ones in the attached tar ball.
[42875792.tar.gz](https://github.com/LLNL/STAT/files/9223036/42875792.tar.gz)

[2022-07-29 20:58] lee218llnl commented on #46
you can reduce the size of the BE logs if you remove the "-l SW" flag. We don't really want to debug stackwalker anyway. That aside, the one STAD log file you did send looks like gathered samples OK and sent them to the FE. It may not be easy, but can `tail -n 1` the other STATD logs files to see if they have a line similar to:

If you find one that doesn't end with that, can you please send the f

[2022-07-29 21:14] antonl321 commented on #46
In fact there are about 162 files that have in the last line "return value  0"  and about 760 with something else on the last line. I attach one of them.
[ad5-4093.bullx.STATD.log](https://github.com/LLNL/STAT/files/9223237/ad5-4093.bullx.STATD.log)
.

[2022-07-29 21:34] lee218llnl commented on #46
Even in that file I see:

this is the 5th to last line. So this STAD actually gathered samples OK and sent them to the FE. However, it looks like the FE never receives the merged traces. I'm still wondering if there is a lingering STATD. Can I trouble you to run again without "-l SW"? The log files should be a lot smaller (and easier for me to parse), then hopefully it'll be small enough that you

[2022-07-29 22:42] antonl321 commented on #46
surprise, without -l SW it has collected first 2 traces but then it hung.
the logs are still 2.5 M. Let's see if git hub takes it. Yes!
[42875794.tar.gz](https://github.com/LLNL/STAT/files/9223716/42875794.tar.gz)

[2022-07-29 22:56] antonl321 commented on #46
but it hung at the first "sampling traces ..." in a second run without any debug flags. Hmm!
I'm out for today.

[2022-07-29 23:44] lee218llnl commented on #46
All of the 880 STATD processes were killed with signal 15 (SIGTERM):

    880    7040   84480

Is it possible that the application exited while STAT was attached and gathering samples? As far as I can see, there is no error in STAT itself, but if the application exits, then SLURM may be killing off the STATD daemons. Or is ist possible that you are running at the edge of the memory limit and getti

[2022-07-30 00:05] lee218llnl commented on #46
In looking at the *STAT.log file, it appears that STAT is taking a while to process the third trace. The good news, is that you should have 2 good .dot files in the stat_results directory that you can look at. I'm not sure if it is legitimately hanging on the third one or if it is just taking a long time. Did you set a time limit on your job or again, did the job perhaps exit in the meantime? If y

[2022-07-31 14:05] antonl321 commented on #46
I think that the job has been terminated because I killed the app to launch a new experiment. Unfortunately later tries weren't successful.

I was wondering, does the gdb alternative for stack traces collection works? I saw it mentioned in the documentation as a build option.
A lateral thought: I was able to collect stack traces from the large scale app in few minutes using a ssh loop and gstack.

[2022-08-01 20:04] lee218llnl commented on #46
Using GDB instead of Stackwalker for the daemons won't help in this case. Stackwalker got the traces OK and the daemons successfully sent them to the STAT frontend, it's just that the STAT frontend is churning on the graphs. I'm pretty sure if you wait long enough, that the STAT frontend operation would complete, but I couldn't tell you how long it might take. You could attach gdb (or even use STA

[2022-08-02 14:30] antonl321 commented on #46
I have tried to sample the large scale run with stat-gui. The first try came with a graph in few minutes, but the second one got stuck in "Sample Stack Traces" for more than 15 minutes. It could be that the sampling of some processes in some peculiar states  gets stuck.

Would it be possible and wise to implement a timeout for the stack sampling? Assuming that a small number of process are stuck I

[2022-08-02 15:43] antonl321 commented on #46
I have tried the -U option and got crashes. But when I enable the debug option it just hangs.
I attach two stack traces for STATD, perhaps you could see something useful in them. As I wrote last week, when hanging STATD spends most of its time off cpu. At least on the few nodes I have tested.

![statd-with-U](https://user-images.githubusercontent.com/52708870/182415407-4e52f1b6-955e-4ad5-b49d-1765

[2022-08-02 15:46] lee218llnl commented on #46
I was actually hoping to see the STAT frontend process (which is python), not the STATD process. From the debug logs, the STATD daemons are waiting on the STAT frontend.

[2022-08-02 16:06] lee218llnl commented on #46
Also, we had previously explored the idea of timeouts, but while a good idea and conceptually simple, it was deemed too difficult to implement. Thanks for the suggestion/request, though.

[2022-08-02 17:32] antonl321 commented on #46
Well, I think I have fixed it! Or at least I made some good progress.
I have noticed that stat-gui starts the python process and quite a number of  mrnet-hntest-* on the login node.
Well, on my system the login nodes have some user restrictions which I think are the possible cause of the hangs.
When I start stat-gui on a compute node (exclusive allocation) I got the graph in a very good time, no c

[2022-10-10 17:25] lee218llnl commented on #15
@pramodk It looks like we never confirmed whether the new release built OK for you. There has since been a 4.2.0 release too. Let me know if you had success building and running.

[2022-10-10 17:26] lee218llnl commented on #18
@rashawnLK It looks like we haven't visited this issue in a while. Are you still in need of assistance running STAT?

[2022-10-10 17:28] #39 closed, assigned to nobody

[2022-10-12 17:54] rashawnLK commented on #18
@lee218llnl, we are okay at this time. The issue, I think , was not identifying the PID correctly for stat-cl.  We will be venturing into the 4.2* series soon.

[2022-10-12 20:58] #18 closed

[2022-10-12 21:50] #15 closed

[2022-10-12 21:52] lee218llnl commented on #24
I think we have versions for all the latest and greatest versions of the dependences I help develop, so I will close this issue.

[2022-10-12 21:52] #24 closed

[2022-10-14 08:01] pramodk commented on #24
thanks @lee218llnl ! I will try to find some time to install latest version and see how it goes on our system. (our spack fork is bot behind upstream and hence need some extra efforts).
Will create an issue if I see any issue.

[2022-10-14 08:03] pramodk commented on #15
Yeah, sorry for that. I am commented here - https://github.com/LLNL/STAT/issues/24#issuecomment-1278635894. Will try new version and will create an issue if something doesn't work.

[2022-10-14 20:06] lee218llnl commented on #35
@roblatham00 Good news, I think I figured out the source of the hang. I was able to reproduce stat-core-merger hangs on one of our CORAL systems and managed to fix it by flushing the input buffer to the gdb process during communicate(). The change is in develop in this commit https://github.com/LLNL/STAT/commit/19858dc096a9eae8461fa5811283e1554dc2cc58. Also, I was able to install the develop branc

[2022-10-25 16:26] lee218llnl commented on #46
@antonl321 I think there were a few issues raised here. Have they all been resolved? Were you able to run OK at scale? Please let me know if this is still an open issue of if I may close it.

[2022-10-25 17:42] antonl321 commented on #46
Hi, Unfortunately the freezing of STAT at large scale has came back.
Sometime in early August I have found that I can have STAT working with 880 nodes jobs if I use a compute node to run stat-gui.
I have tested that several times and it worked fine.
About a month later, after some changes in the system config STAT has regressed. It gets locked up for the 880 node runs using either a login node or

[2022-10-25 17:48] lee218llnl commented on #46
have you built STAT with fgfs? The fgfs variant should be enabled by default in Spack unless you specify ~fgfs in the install command. Since it is stuck on sampling, I'm wondering if it is contention on the file system, which fgfs should alleviate.

[2022-10-25 19:06] antonl321 commented on #46
fgfs is enabled.

On Tue, 25 Oct 2022, 20:48 Gregory Lee, ***@***.***> wrote:

[2022-10-26 16:24] lee218llnl commented on #46
Can you gather STAT logs for me? In the "Advanced" tab of the attach dialog in the STAT GUI, you can select "Log Frontend", "Log Backend", "Log CP". Please do not log SW or SWERR at this time because they will generate large log files and at the scale you are running, this is probably not a good idea.

[2022-10-27 14:26] antonl321 commented on #46
Sure, but it might take a bit of time. It's a bit more difficult to get large runs on the my system. Hopefully early next week.

[2022-10-27 17:13] lee218llnl commented on #46
one smaller scale test you can run is to launch a job on 4 nodes. Then in the stat-gui attach dialog, go to the "Topology" tab and set "Specify Topology Type" to "depth". Then click on "Modify Topology" and change it to "2". After that go back to the "Attach" tab and see if you can attach to a job as usual. This will test to make sure the MRNet tree is functioning properly on your system. If you c

[2022-10-31 18:46] antonl321 commented on #46
I did a run on 16 nodes and the depth=2 worked fine. I attach the logs for the the same run (default params for attach).
I didn't had yet an opportunity to run a large job.
[stat-logs-FE+BE+CP.tar.gz](https://github.com/LLNL/STAT/files/9903974/stat-logs-FE%2BBE%2BCP.tar.gz)

[2022-11-02 00:06] lee218llnl commented on #46
thanks for the logs. It looks like fgfs is working and should scalably handle reading binaries. I will await logs from the larger run inf you are able to produce them.

[2022-11-21 22:12] antonl321 commented on #46
Hi, I got some logs for a run with 440 nodes. The node on which STAT run is ad6-175.
As usual STAT got stuck at this scale. I have waited ~ 10 minutes after the last change was done to the log files. Also I have noticed that there are only 421 log files from compute nodes instead of 440.
[stat-FE-BE-CP-440-nodes-logs.tar.gz](https://github.com/LLNL/STAT/files/10060970/stat-FE-BE-CP-440-nodes-logs.